.poster {
  height: 70vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

button.carousel-control-next, button.carousel-control-prev {
    background-color: transparent;
    border-color: transparent;
}

.card {
  border-style: solid;
  border-width: thin;
  border-color: #a5a5a5;
  }
  .card-img-overlay {
  /* overlay */
  
  
  position: absolute;
  /* height: 204px; */
  left: 0px;
  right: 0px;
  top: 0px;
  
  background: rgba(242, 205, 76, 0.25);
  mix-blend-mode: multiply;
  
  }
  .card-body {
  max-height: 159px;
  overflow: hidden;
  }
  .card-text {
  font-family: 'Noto Serif TC';
  }
  .btsm {
      padding: .25rem .5rem !important;
      font-size: .875rem !important;
      line-height: 1.5 !important;
      border-radius: .2rem !important;
  }